*{
  margin: 10;
  padding: 0;
}


header{
  background-color:#011627;
}

body {
  background-color: #e0fbfc;
}

h1{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 65px;
  text-align: center
}

/* 10px = 1em */

h2{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  text-align: center
}



h3{
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

p{
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* this changes the font size for paragraphs  */

a {
  font-family: Arial, sans-serif;
  font-size: 20px;
  height: auto;
}


a:link    { color:green;  }
a:visited { color: red;   }
a:hover   { color: blue; }
a:active  { color: pink;  }


